<div id='append0'>
    <img src='image/girl.png' width='55px' height='55px' style='border-radius: 25px;float: left;margin-top: 8px;'>
    <div><b class="display<%= reeview_id %>" id='display<%= reeview_id %> display' style='font-size: 19px;float:right;'>verified_purchase</b>
    <b class='nameval<%= i %><%= currentPage %>' value="<%= name %>" style='font-size: 25px;margin-left: 11px;'><%= name %></b><br>
    <div id='rateYoo<%= i %><%= currentPage %>' style='float: left;'></div>
    <p class='float' style='margin: 1px 0 0 5px;font-size: 17px;opacity: 0.5;'>on <%= date %></p><br>
    </div><b id='verified' class='verified<%= reeview_id %>' style='font-size: 18px;margin: 10px 0 0 4px;'>verified_purchase</b>
    <p style='font-size:20px;float:left;width:100%;margin-top:30px'><%= text %></p>
    <a  onclick='funimagee("<%= i %>","<%= currentPage %>")'><img src='image/girl.png' width='185px' height='185px' style='cursor: pointer;'></a>
    </div><p style='opacity: 0.3;float: left;font-size: 20px;margin: 12px 0 10px 0 ;width: 100%;'><%= helpful_count %> peaple found this helpful</p>
    <input onclick='helpremove("<%= i %>","<%=reeview_id %>")' id='helpfulremove<%= i %><%= reeview_id %>' type='button' value='helpful' style='margin:0 0 20px 0;background-color: white;border: 1px solid black;color: black;border-radius:10px;width: 100px ;height: 30px;font-size: 15px;float: left;cursor: pointer;'>
    <p id='helpfulshow<%= i %><%= reeview_id %>' style='color:green;display: none'>Thank you for your feedback.</p>
    <input id='currentPage<%= i %><%= currentPage %>' type='hidden' value='<%= currentPage %>'>
    <input id='productid<%= i %><%= currentPage %>' type='hidden' value='<%= productid %>'>
    <hr class='hr<%= i %><%= currentPage %>' width='100%' style='margin-top: 20px;'> </div>