<div id='merge<%= i %>' class='merge'><img id='img'src='<%= response.data.purchases_list[i].image %>' width='250px' height='250px'>
<p id='name' name='name' style='padding-top:80px'><%= response.data.purchases_list[i].name %></p></div>
<a onclick='functionn("<%= i %>")' class='rateYo2'><div id='rateYo2<%= i %>'></div></a>
<input id='hiddden<%= i %>' type='hidden' value='<%= hiddenval%>'>
<div class='d-flex justify-content-center'><a onclick='funnctionbutton("<%= i %>")'><input type='button' id='buttonhide<%= i %>' class='button' value='Submit Review' ></div></a><hr id='hrhide<%= i %>' width='50%' style='margin-top: 60px;'>
 